<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>

	<session-factory>
	    <!-- MY SQL --> 
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property> 
		<property name="hibernate.connection.url">jdbc:mysql://192.168.25.7:3306/dbcriacao</property> 
		<property name="hibernate.connection.username">root</property> 
		<property name="hibernate.connection.password">ana13bia</property> 
		<property name="hibernate.connection.pool_size">10</property> 
		<property name="hibernate.show_sql">true</property> 
		<property name="hibernate.format_sql">false</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property> 
	    <property name="hibernate.hbm2ddl.auto">update</property>   
		<property name="hibernate.current_session_context_class">thread</property> 		
		<property name="hibernate.connection.release_mode">after_transaction</property>	

		<mapping class="br.com.informa.models.common.GrupoUsuario" />  
		<mapping class="br.com.informa.models.common.Usuario" />
		<mapping class="br.com.informa.models.portalrh.Departamento" />
		<mapping class="br.com.informa.models.portalrh.Cargo" /> 
		<mapping class="br.com.informa.models.portalrh.TipoDocumentoInterno" />
		<mapping class="br.com.informa.models.portalrh.DocumentoInterno" />
		<mapping class="br.com.informa.models.portalrh.DadosPessoais" />
		<mapping class="br.com.informa.models.portalrh.DadosProfissionais" />
		<mapping class="br.com.informa.models.portalrh.Dependentes" />
		<mapping class="br.com.informa.models.portalrh.Ferias" />
		<mapping class="br.com.informa.models.portalrh.Equipes" />
		<mapping class="br.com.informa.models.portalrh.Feriados" />  
		
		<listener class="org.hibernate.envers.event.AuditEventListener" type="post-insert" />
		<listener class="org.hibernate.envers.event.AuditEventListener" type="post-update" />
		<listener class="org.hibernate.envers.event.AuditEventListener" type="post-delete" />		
	</session-factory>
</hibernate-configuration>
